{% extends "layouts/base.html" %}


{% block title %} Informacion del sitio webApp Calculadoras {% endblock %}

{% block router_content %}
<li class="breadcrumb-item active" aria-current="page">
  About</li>
{% endblock %}


{% block page_content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="page-header" style="text-align: center;" >
  <h2> Realizada por Valtic & Prog. Salkman</h2>
  <p> Pagina para aglutinar herramientas y calculadoras diseñada en Python y Flask </p>
  <p> Basado en el Dashboard Admin Volt de AppSeed y Themesberg</p>
  <p> Copyright © 2024 
  </p> 
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>  
<br>
<br>

{% endblock %}
